- page_title       @user.name
- page_description @user.bio
- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('lib/d3.js')
  = page_specific_javascript_tag('users/users_bundle.js')
- header_title     @user.name, user_path(@user)
- @no_container = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, user_url(@user, format: :atom), title: "#{@user.name} activity")

.user-profile
  .cover-block.user-cover-block

    .profile-header
      .avatar-holder
        = link_to avatar_icon(@user, 400), target: '_blank' do
          = image_tag avatar_icon(@user, 90), class: "avatar s90", alt: ''

      .user-info
        .cover-title
          = @user.name

        .cover-desc.member-date
          %span.middle-dot-divider
            @#{@user.username}
          %span.middle-dot-divider
            Member since #{@user.created_at.to_s(:medium)}

    - if @user.bio.present?
      .cover-desc
        %p.profile-user-bio
          = @user.bio

%div{ class: container_class }
  %h4 Latest projects
  %hr
  - @projects.each do |project|
    %p
      = link_to project.name_with_namespace, '~' + project.path_with_namespace, class: 'str-truncated'
      %span.light.pull-right
        #{time_ago_with_tooltip(project.created_at)}


:javascript
  var userProfile;

  userProfile = new gl.User({
    action: "#{controller.action_name}"
  });
